<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>

    </title>
  </head>
  <body>
<h>About The Uno Club</h>
<p>The uno club became an official club at Point Park during the Fall 2018 semester. The current club president is
Carlos Polanco and the current club treasurer is Kimberly Stamets durring the initial semester of the club there
were about 120 students to sign up. Currently there is about 220 students in the club making in the largest club
on campus to this date. </p>
  </body>
</html>
