<div id="aboutpage">
  <style>
    #aboutpage {
      text-align: center;
    }

    .heading {
      color: white;

    }
    
    .paragraph1 {
      color: white;
      text-align: center;
    }
  </style>


  <h class="heading">ABOUT US</h>
  <p class="paragraph1">FOUNDED: Fall of 2018

FOUNDER: Bryan Partika

CURRENT PRESDIENT: Carlos Polanco

CURRENT VICE PRESIDENT: Justin Joyce

CURRENT TREASURER: Kimberly Staments

AWARDS: 2018-2019 new club of the year

 </p>

</div>
