<div id="aboutpage">
  <style>
    #aboutpage {
      text-align: center;
      color: white
    }

    .heading {
      color: white;

    }

    .paragraph1 {
      color: white;
      text-align: center;
    }
  </style>


  <h1 class="heading">ABOUT US</h1>
  <p class="paragraph1">

<header><h2>FOUNDED</h2></header>
<body>Fall of 2018</body>
</br>
<header><h2>FOUNDER</h2></header>
<body>Bryan Partika</body>
</br>
<header><h2>CURRENT PRESDIENT</h2></header>
<body> Carlos Polanco</body>
</br>
<header><h2>CURRENT VICE PRESIDENT</h2></header>
<body>Justin Joyce</body>
</br>
<header><h2>CURRENT TREASURER</h2></header>
<body>Kimberly Staments</body>
</br>
<header><h2>AWARDS</h2></header>
<body>2018-2019 new club of the year</body>


 </p>

</div>
