<div data-aos="fade-in" class="rules-page" style="text-align: center; margin-top: 10%;">
    <h1>HOW TO PLAY</h1>
    <br />
    <h1> GENERAL <h1>

</div>
<br />
<div id="list3">
<ul>
<li>You may stack all of the same number or special card on each other as long as the correct color, number or special card is played first</li>
<li>You must call out "UNO" when you have one card left in you hand</li>
<li>If you don't call out "UNO" when you have one card left and someone calls you out for it, you must draw two cards </li>
<li>When two players are left, skip and reverse cards act as skip cards</li>
<li>You MAY NOT stack draw two cards on draw fours and vice versa</li>
<li>You only draw ONE card if you don't have a card to play</li>
<li>If stacking draw twos or fours, the play that is next must draw all accruing cards</li>
<li>The game end for a person when they run out of cards, you may not play a draw two or four card to make them play</li>
<li>There is no assistance aloud in tournament play</li>
<li>assistance is only aloud if a person is color blind, deaf, blind or disabled</li>
<li><h1>THERE ARE NO FRIENDS IN UNO!</h1></li>
</ul>
</div>

<div class="row">
  <div class="col-md-4 col-xs-12">
  </div>
  <div class="col-md-8 col-xs-12">
</div>
