<div data-aos="fade-in" class="rules-page" style="text-align: center; margin-top: 10%;">
        <style>
    
        </style>
    <div class="row">
        <div class="col-md-12">
            <h1>How To Play</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>General</h3>
        </div>
        <div class="col-md-12">
            <p>
                Be the first to play all of your cards
                You many stack similar colors on the pile or similar numbers
                You may stack as many of the same number on top of itself as long as you have the correct number or color underneath
                You can stack draw 2s onto each other
                You can stack draw 4s onto each other
                You may not stack draw 2s and draw 4s on each other
                Reverse cards act as skip cards when there are two people
                You must call UNO when you have one card left
                If another person calls you out for not saying UNO with one card left you must draw 2
            </p> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"> 
            <h3>Special Cards</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="/uno_cards/draw2.jpg" style="border-radius:50%;" />
            <h4 style="float: left;">force the next person to draw two</h4>  
        </div>
    </div>
</div>     