<div data-aos="fade-in" class="rules-page" style="text-align: center; margin-top: 10%;">
    <h1 style="color: white;" data-aos="fade-down" data-aos-duration="1000">HOW TO PLAY</h1>
    <br />
    <video id="how-to-play" name="how-to-play" class="how-to-video" controls>
      <source src="/how-to-play.mp4" type=video/mp4>
    </video>
</div>

